<!-- Main Footer -->
<footer class="main-footer style-two">
	<div class="footer_pattern" style="background-image: url(assets/images/background/footer-pattern.png)"></div>
	<div class="footer-upper-box">
		<div class="auto-container">
			<div class="d-flex align-items-center justify-content-between flex-wrap">
				<div class="footer-logo"><a href="index.html"><img src="assets/images/logo.svg" alt="Lifehackerzy" title="Lifehackerzy"></a></div>
				<!-- Social Box -->
				<div class="footer-social_box">
					<span>Obserwuj nas:</span>
					<a href="https://www.linkedin.com/company/hackerzy/"><em class="fa-brands fa-linkedin"></em></a>
					<a href="https://instagram.com/ludwikc"><em class="fa-brands fa-instagram"></em></a>
				</div>
			</div>
		</div>
	</div>
	<div class="auto-container">
		<div class="inner-container">
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">
					
					<!-- Big Column -->
					<div class="big-column col-lg-7 col-md-12 col-sm-12">
						<div class="footer-lists_outer">
							<div class="row clearfix">
								<!-- Column -->
								<div class="column col-lg-5 col-md-4 col-sm-6">
									<h5 class="footer-title">Podsumowanie</h5>
									<ul class="footer-pages_list">
										<li><a href="#dlaczegomy">Dlaczego Lifehackerzy?</a></li>
										<li><a href="#kimjestesmy">Kim jesteśmy?</a></li>
										<li><a href="#protipy">50+ Protipów</a></li>
										<li><a href="#toolbox">Toolbox Lifehackerów</a></li>
										<li><a href="#trenerzy">Dostęp Premium</a></li>
										<li><a href="#kurs">Hakowanie Produktywności</a></li>
										<li><a href="#testimonials">Opinie o Lifehackerach</a></li>
										<li><a href="#plan" style="color: var(--main-color); font-weight: bold;">Dołącz do Nas </a></li>
										<li><a href="#workshops">Warsztaty</a></li>
									</ul>
								</div>
								<!-- Column -->
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">Zasoby</h5>
									<p style="border: 1px solid var(--main-color); color:var(--main-color); padding: 10px;text-align: center;">Tylko dla zalogowanych</p>
									<ul class="footer-pages_list">
										<li><a href="#">Onboarding</a> </li>
										<li><a href="https://discord.com/channels/428530875085619200/1128649406640558110">Discord</a> </li>
										<li><a href="https://platforma.siadlak.com">Platforma</a></li>
										<li><a href="https://platforma.siadlak.com/c/toolbox/15">Toolbox</a> </li>
										<li><a href="https://discord.com/channels/428530875085619200/1007740509252493433">Pomoc</a></li>
									</ul>
								</div>
								<!-- Column -->
								<div class="column col-lg-3 col-md-4 col-sm-6">
									<h5 class="footer-title">O nas</h5>
									<ul class="footer-pages_list">
										<li><a href="https://docs.siadlak.com/legal/regulaminy/b/92D51CB5-6D9A-4DDC-BA48-39327628FB02/Regulamin-Spo%C5%82eczno%C5%9Bci-Lifehackerzy.pl">Regulamin społeczności</a></li>
										<li><a href="https://docs.siadlak.com/legal/statut-fundacji">Statut Fundacji</a></li>
										<li><a href="https://docs.siadlak.com/legal/regulaminy/b/FCDF4E33-8101-4B9E-A507-BE3ACF56F255/Regulamin-sprzeda%C5%BCy">Regulamin sprzedaży</a></li>
										<li><a href="https://docs.siadlak.com/legal/regulaminy/b/A1991136-C165-40B4-9C1E-21CBAEC4C8D7/Polityka-Prywatno%C5%9Bci-Serwis%C3%B3w-Grupy-">Polityka prywatności</a></li>
										<li><a href="mailto:connect@siadlak.email?subject=Pytanie%20o%20Hacker%C3%B3w&body=Cze%C5%9B%C4%87%20Ludwik%2C%20mam%20pytanie%20o%20spo%C5%82eczno%C5%9B%C4%87%20Hacker%C3%B3w%3A%20%0A%0A-%20">Kontakt</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- Big Column -->
					<div class="big-column col-lg-5 col-md-12 col-sm-12">
						<div class="footer-newsletter">
							<h5 class="footer-title"  style="text-align: center;">Lifehackerzy</h5>
							<div class="footer-newsletter_text" style="text-align: normal;">Lifehackerzy są bezpłatnym benefitem dostępnym wyłącznie dla moich Klientów.<br><br> Administratorem Twoich danych osobowych jest <br><strong>SIADLAK Holding Group sp. z o.o.</strong> w Warszawie<br>	 KRS: 0001141743 | NIP: 5273141363 | REGON: 540328107 <br><br> Sponsorem i beneficjentem rzeczywistym wszystkich działań Społeczności jesteś... <br>Ty, <strong>Lifehackerze</strong>.</div>
							<div class="newsletter-box" style="text-align: center;">
								<form class="newsletter-form" style="margin-bottom: 20px;">
									<input type="email" id="emailInput" placeholder="Twój adres email" class="form-control" style="margin-bottom: 15px; padding: 12px; border-radius: 5px; border: 1px solid #ddd;" required>
									<button type="submit" class="template-btn btn-style-one" id="submitButton">
										<span class="btn-wrap">
											<span class="text-one">Nadszedł czas.</span>
											<span class="text-two">Zaczynamy!</span>
										</span>
									</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="inner-container d-flex justify-content-center">
				<div class="footer-copyright">&copy; 2022 - 2025 <a href="https://siadlak.com">Ludwik C. Siadlak</a> oraz <a href="https://lifehackerzy.pl">Lifehackerzy</a></div>
			</div>
		</div>
	</div>
</footer>
<!-- End Main Footer -->