<!-- Main Header -->
<header class="main-header header-style-two">
	
	<!-- Header Top -->
	<div class="header-top">
		<div class="text">
			<span class="icon"><img src="assets/images/icons/header-top_icon.png" alt="Decorative icon"></span>
			BLIK i PYK! Teraz możesz dołaczyć do Lifehackerów NA ZAWSZE  <a href="#plan">za jedyne 897 PLN (i otrzymasz kurs odporności psychicznej <b>Silna Głowa</b>!)
			<em class="fa-solid fa-angle-right fa-fw"></em></a>
		</div>
		<span class="header-top_cross fa-solid fa-xmark fa-fw" style="display: none;"></span>
	</div>

	<!-- Header Lower -->
	<div class="header-lower">
		<div class="auto-container">
			<div class="inner-container">
				<div class="d-flex align-items-center justify-content-between flex-wrap">

					<!-- Main Menu End-->
					<div class="outer-box d-flex align-items-center flex-wrap">
						
						<!-- Button Box -->
						<div class="main-header_buttons">
							<a href="https://portal.siadlak.com" class="template-btn btn-style-two">
								<span class="btn-wrap">
									<span class="text-one">Zaloguj</span>
									<span class="text-two">Zaloguj</span>
								</span>
							</a>
							<a href="#plan" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Dołącz</span>
									<span class="text-two">Dołącz</span>
								</span>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!--End Header Lower-->
	
</header>
<!-- End Main Header -->