<!-- Main Header -->
<header class="main-header header-style-two">
	
	<!-- Header Top -->
	<div class="header-top">
		<div class="text">
			<span class="icon"><img src="assets/images/icons/header-top_icon.png" alt="Decorative icon"></span>
			BLIK i PYK! Teraz możesz dołaczyć do Lifehackerów NA ZAWSZE  <a href="#plan">za jedyne 897 PLN (i otrzymasz kurs odporności psychicznej <b>Silna Głowa</b>!)
			<em class="fa-solid fa-angle-right fa-fw"></em></a>
		</div>
		<span class="header-top_cross fa-solid fa-xmark fa-fw" style="display: none;"></span>
	</div>

	<!-- Header Lower -->
	<div class="header-lower">
		<div class="auto-container">
			<div class="inner-container">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					
					<div class="nav-outer d-flex align-items-center flex-wrap">
						<div class="logo-box">
							<div class="logo"><a href="index.html"><img src="assets/images/logo.svg" alt="Hackerzy" title="Hackerzy" style="width:  200px;"></a></div>
						</div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md" style="display: none;">
							<div class="navbar-header">
								<!-- Toggle Button -->    	
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="dropdown"><a href="#">Home</a>
										<ul>
											<li><a href="index.html">HomePage 01</a></li>
											<li><a href="index-2.html">HomePage 02</a></li>
											<li><a href="index-3.html">HomePage 03</a></li>
											<li class="dropdown"><a href="#">Header Style</a>
												<ul>
													<li><a href="index.html">Header 01</a></li>
													<li><a href="index-2.html">Header 02</a></li>
													<li><a href="index-3.html">Header 03</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="about.html">About</a></li>
									<li class="dropdown"><a href="#">Pages</a>
										<ul>
											<li><a href="faq.html">Faq</a></li>
											<li><a href="pricing.html">Price</a></li>
											<li><a href="testimonial.html">Testimonial</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="reset.html">Forgot password</a></li>
											<li class="dropdown"><a href="#">Team</a>
												<ul>
													<li><a href="team.html">Team</a></li>
													<li><a href="#plan">Team detail</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Services</a>
										<ul>
											<li><a href="services.html">Services</a></li>
											<li><a href="#plan">Services detail</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Blog</a>
										<ul>
											<li><a href="blog.html">Blog grid</a></li>
											<li><a href="blog-classic.html">Blog classic</a></li>
											<li><a href="news-detail.html">Blog detail</a></li>
											<li><a href="not-found.html">Not found</a></li>
										</ul>
									</li>
									<li><a href="mailto:connect@siadlak.email?subject=Pytanie%20o%20Hacker%C3%B3w&body=Cze%C5%9B%C4%87%20Ludwik%2C%20mam%20pytanie%20o%20spo%C5%82eczno%C5%9B%C4%87%20Hacker%C3%B3w%3A%20%0A%0A-%20">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>

					<!-- Main Menu End-->
					<div class="outer-box d-flex align-items-center flex-wrap">
						
						<!-- Button Box -->
						<div class="main-header_buttons">
							<a href="https://platforma.siadlak.com" class="template-btn btn-style-two">
								<span class="btn-wrap">
									<span class="text-one">Zaloguj</span>
									<span class="text-two">Zaloguj</span>
								</span>
							</a>
							<a href="#plan" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Dołącz</span>
									<span class="text-two">Dołącz</span>
								</span>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!--End Header Lower-->
	
</header>
<!-- End Main Header -->